/* =================================
   WRAPPER
==================================== */

body {
   background: var(--sk-bg-color);
}

#wrapper {
   position: relative;
   min-width: 320px;
   min-height: 100lvh;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1960px) {
   #wrapper {
      display: grid;
      grid-template-columns: 250px auto;

      transition: grid-template-columns var(--animation-ms-m) ease-in-out;
   }

   [data-sidebar="short"] #wrapper {
      grid-template-columns: 80px auto;
   }

   [data-devices="mobile"] #wrapper {
      display: grid;
      grid-template-columns: auto;
   }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */