/* =================================
   TOOLS
==================================== */

.popup {
    z-index: var(--z-index-nav);
    overflow: hidden;
    position: fixed;
    bottom: calc(var(--sidebar-mobile-h) + 10px);

    margin: 0 10px;
    padding: 20px 10px 10px 10px;
    width: calc(100% - 20px);
    height: auto;

    border: none;
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);

    transform: translateX(-120%);
    transition: transform var(--animation-ms-s) ease-in;
}

.popup.popup__open {
    transform: translateX(0);
}

/* =================================
   MEDIA
==================================== */

@media (min-width: 1025px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */