/* =================================
   PAGE
==================================== */

.page {
   width: 100%;
   transition: opacity 0.2s ease-out, transform 0.2s ease-out;
   will-change: opacity, transform;
}

/* Начальное состояние */
.page-enter {
   opacity: 0;
   transform: translateY(-10px);
}

.page-exit {
   opacity: 1;
   transform: translateY(0);
}

/* Появление */
.page-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Уход */
.page-exit-active {
   opacity: 0;
   transform: translateY(10px);
   transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}


/* =================================
   MEDIA
==================================== */

@media (max-width: 1960px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */