/* =================================
   SIDEBAR 
==================================== */

.sidebar {
   z-index: var(--z-index-nav);
   overflow: hidden;
   position: fixed;
   top: 90px;
   left: 10px;

   height: calc(100lvh - 95px);

   padding: var(--global-padding);
   width: var(--sidebar-width);
   border-radius: var(--border-radius);

   border: var(--sk-nav-border);
   background: var(--sk-nav-bg-color);
   background-size: 300%;
   backdrop-filter: var(--sk-nav-bg-filter);
   animation: var(--sk-nav-animation);

   display: grid;
   grid-template-rows: 1fr 30px;

   transition: width var(--animation-ms-m) ease-in-out;
}

.sidebar::before {
   content: '';
   position: absolute;
   bottom: -2px;

   width: 101%;
   height: 200px;

   background: var(--sk-nav-bg-img);

   user-select: none;
   pointer-events: none;

   transition: width var(--animation-ms-m) ease-in-out, height var(--animation-ms-m) ease-in-out;
}

/* =================================
   HEADER 
==================================== */

.sidebar-header {
   width: calc(var(--sidebar-width) - 2 * var(--global-padding));
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-self: start;
}

.sidebar-header__separator {
   margin: 10px 0;
   width: calc(var(--sidebar-width) - 2 * var(--global-padding));
   height: 2px;
   border-radius: 2px;
   background-color: var(--sk-separator);

   transition: width var(--animation-ms-s) ease-in-out;
}

/* =================================
   FOOTER 
==================================== */

.sidebar-footer {
   overflow: hidden;
   width: calc(var(--sidebar-width) - 2 * var(--global-padding));
   display: flex;
   align-items: flex-end;
   justify-content: start;
}

.sidebar-footer__title {
   font-weight: 400;
   font-size: var(--h6);
   color: var(--sk-low-text-color);

   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* =================================
   DATASET-SIDEBAR="SHORT"
==================================== */

[data-sidebar="short"] .sidebar {
   width: var(--sidebar-width-short);
}

[data-sidebar="short"] .sidebar-header__separator {
   width: calc(var(--sidebar-width-short) - 2 * var(--global-padding));
}

[data-sidebar="short"] .sidebar::before {
   height: 65px;
}

[data-sidebar="short"] .sidebar-header,
[data-sidebar="short"] .sidebar-footer {
   width: calc(var(--sidebar-width-short) - 2 * var(--global-padding));
}

[data-sidebar="short"] .sidebar-footer__title {
   display: none;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1960px) {
   .sidebar {
      position: sticky;
   }
}

@media (min-width: 1025px) {
   .burger-box:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }

   .burger-box:hover .burger {
      animation: storm var(--animation-ms-s) ease-in-out;
   }
}

@media (max-width: 1024px) {
   .burger-box {
      background-color: rgba(255, 255, 255, 0.1);
   }
}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */