/* =================================
   POPUP MANAGER
==================================== */

.popup-manager {
   min-height: 200px;

   display: flex;
   align-items: start;
   justify-content: space-between;
}

/* =================================
   MEDIA
==================================== */

@media (min-width: 1025px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */