/* =================================
   BUTTON NAVI LINK
==================================== */

.navigation__item {
   overflow: hidden;
   margin: 2px 0;
   padding: 8px 10px;
   width: calc(var(--sidebar-width) - 2 * var(--global-padding));
   height: 36px;
   border-radius: var(--border-radius);
   cursor: pointer;

   background: var(--sk-navi-link-bg-color);
   transition:
           opacity var(--animation-ms-s) ease-in-out,
           background-color var(--animation-ms-s) ease-in-out,
           width var(--animation-ms-s) ease-in-out;
}

.navigation__item.navigation__item_active {
   background: var(--sk-navi-link-bg-active-color);
}

.navi-link {
   display: flex;
   align-items: center;
   justify-content: start;

   text-decoration: none;
}

.navi-link__box {
   margin-right: 10px;
   width: 20px;
   height: 20px;
}

.navi-link__title {
   text-transform: capitalize;
   font-weight: 400;
   font-size: var(--h4);
   color: var(--sk-text-color);

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

/* =================================
   SIDEBAR SHORT
==================================== */

.sidebar_short .navigation__item {
   width: calc(var(--sidebar-width-short) - 2 * var(--global-padding));
}

.sidebar_short .navi-link__title {
   display: none;
}

.sidebar_short .navi-link__box {
   margin-right: 0;
}

/* =================================
   MEDIA
==================================== */

@media (min-width: 1025px) {
   .navigation__item:not(.navigation__item_active):hover {
      background: var(--sk-navi-link-bg-hover-color);
   }

   .sidebar_short .navigation__item:hover .navi-link__box {
      animation: storm var(--animation-ms-s) ease-in-out;
   }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */