/* =================================
   BURGER
==================================== */

.burger-box {
    border-radius: var(--border-radius);
    background-color: transparent;
    cursor: pointer;

    transition: background-color var(--animation-ms-s) ease-in-out;
}

.burger {
    position: relative;
    top: calc(50% - 1px);
}

.burger, .burger::after, .burger::before {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1px;
}

.burger::after, .burger::before {
    content: "";
    position: absolute;
}

.burger::after {
    top: 8px;
}

.burger::before {
    top: -8px;
}

/* =================================
   MEDIA
==================================== */

@media (min-width: 1025px) {
    .burger-box:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .burger-box:hover .burger {
        animation: storm var(--animation-ms-s) ease-in-out;
    }
}

@media (max-width: 1024px) {
    .burger-box {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */